.file{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .nameBox{
        display: flex;
        gap: 20px;
        min-height: 24px;
        align-items: center;
        
        .name{
            display: flex;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            color: black;
            transition: color .15s ease-in-out;
            cursor: pointer;
            
            &:hover{
                color: var(--hover-blue);
            }

            .type{
                color: var(--hover-blue);
            }
        }
    }
}