.switchImages{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 100%;


    img {
        object-fit: contain;
    }

    ::-webkit-scrollbar {
        display: none;  /* Safari and Chrome browsers */
    }

    .slider{
        max-height: 364px;
        width: 80px;
        padding: 0 2px;
        overflow: auto;
    }

    .forwardScroll{
        width: 40px;
        transform: rotate(180deg);
        &:hover{
            opacity: 0.8;
        }
    }

    .backwardScroll{
        width: 40px;
        &:hover{
            opacity: 0.8;
        }
    }

    img{
        box-sizing: border-box;
        padding: 4px;
        margin: 4px 0;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
    }

    .currentImage{
        outline: 1px solid black;
    }
}

@media (max-width: 650px) {
    .switchImages{
        width: 74px;

        .slider{
            width: 70px;
        }

        img{
            width: 70px;
            height: 70px;
        }
    }
}

@media (max-width: 450px) {
    .switchImages{
        width: 64px;

        .slider{
            width: 60px;
        }

        img{
            width: 60px;
            height: 60px;
        }
    }
}