.productGroupBoxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    >.productGroupBox{
        height: 100%;
        opacity: 0;
        margin: -20px 10px 0 10px;
        transition: all 1s ease-in-out;


        &.observed{
            opacity: 1;
            margin-top: 0px;
            transition: all 1s ease-in-out;
        }
    }
}

@media (max-width: 650px) {
    .productGroupBoxes{    
        >.productGroupBox{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}