.productGroupBoxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    margin-top: 40px;

    >.productGroupBox{
        display: flex;
        height: 100%;
        opacity: 0;
        transition: all 1s ease-in-out;

        &.observed{
            opacity: 1;
            margin-top: 0px;
            transition: all 1s ease-in-out;
        }
    }
}

@media (max-width: 950px) {
    .productGroupBoxes{    
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .productGroupBoxes{    
        grid-template-columns: repeat(1, 1fr);
    }
}
