
.form{
    position: relative;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 40px 60px;
    overflow: auto;
    min-width: 600px;
}

// @media (max-width: 1200px) {
//     .form{
//         width: calc(90vw - 40px);
//         padding: 40px 60px;
//     }
// }