

.imageCardsBox{
    width: 100%;

    .imagesCard{
        display: flex;
        height: 460px;
        width: 100%;

        .switch{
            width: 90px;
        }
    
        .image{
            display: flex;
            box-sizing: border-box;
            width: calc(100% - 90px);
            height: 100%;
        }
    }
}

