.changingInformationDisclosure{

    p[data-title]{
        margin: 20px 0 6px 0;
        font-size: 0.9em;
        font-weight: 500;
    }

    >h3{
        margin-top: 0;
    }

    .files {
        margin: 10px;
    }
}