.siteSearch{
    position: relative;

    input{
        width: 180px;
        height: 30px;
        margin: 0;
        outline: none;
        border: 0;
        padding: 0 10px;
        background-color: inherit;
        color: white;
        transition: all 0.35s;


        &:focus{
            width: 640px;
            transition: all 0.35s;
        }
    }

    >.clear{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 16px;
        height: 16px;
        opacity: 0.75;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
    }
}