.whyChooseUs{
    display: flex;
    justify-content: center;
    line-height: 28px;
    padding: 100px 0;

    .content{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        margin-top: 30px;


        .whyUs{
            display: grid;
            height: 100%;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 60px;
            margin-right: 20px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1000px) {
    .whyChooseUs{
        .content{
            flex-direction: column;

            .whyUs{
                margin-right: 60px;
                column-gap: 40px;
            }
        }
    }
}


@media (max-width: 670px) {
    .whyChooseUs{
        .content{
            margin-top: 10px;
           
            .whyUs{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media (max-width: 450px) {
    .whyChooseUs{
        .content{
            .whyUs{
                margin-right: 30px;
            }
        }
    }
}