.myTableDashed{
    width: 100%;
    overflow: auto;

    ul{
        min-width: 500px;
        padding: 0;
        margin: 0 0 0 0;
        color: #4C4C4C;

        li.title{
            font-weight: 500;
            color: #242424;
        }

        li{
            display: flex;
            width: 100%;
            list-style: none;
            padding: 2px 0;
            overflow: hidden;

            span[data-cell] {
                display: flex;
                width: 40%;
                box-sizing: border-box;
                min-width: 100px;
                justify-content: space-between;
                background-color: #FFF;
                padding: 0 8px;
                position: relative;
                overflow: hidden;

                &:first-child{
                    width: 80%;
                    padding: 0 8px 0 0;
                }

                &:last-child{
                    padding: 0 8px 0 0;
                }

                span[data-value]{
                    width: 100%;
                    position: relative;
                    padding: 0;
                    margin: 0;

                    .value{
                        position: relative;
                        background-color: #FFF;
                        z-index: 29;
                    }
                }

                span[data-dashed]{
                    position: absolute;
                    width: 100%;
                    margin-left: 0;
                    top: 18px;
                    border-bottom: 1px dashed #cecece;
                }
            }
        }
    }

    &.isSimple{
        ul{
            li{
                span[data-cell] {
                    width: 50%;

                    &:nth-child(1){
                        width: 50%;
                    }
                }
            }
        }
    }

    &.deliverySet{
        ul{
            li{
                span[data-cell] {
                    width: 40%;

                    &:nth-child(2){
                        width: 20%;
                    }
                }
            }
        }
    }
}

