

.latestDevelopments{
    display: flex;
    position: relative;
    width: 100%;
    background-color: #F0F0F0;
    justify-content: center;
    padding: 60px 0;
    overflow: hidden;

    .boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        .loaderDiv{
            height: 400px;
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    .latestDevelopments{
        padding: 40px 0;
        .boxes{
            margin-top: 20px;
        }
    }
}