.myTable{
    width: 100%;
    border-collapse: collapse;
    color: #4C4C4C;
    

    th{
        padding: 10px;
        background-color: #dce9f9;
        font-size: 15px;
    }

    td{
        padding:  8px 10px;
        font-size: 15px;
    }

    th,
    td {
        border: 2px solid #ddd;

        &:nth-child(n + 2){
            text-align: center;
        }
    }
}

@media (max-width: 650px) {
    .myTable{
        th{
            padding: 8px;
            font-size: 14px;
        }
    
        td{
            padding:  6px 8px;
            font-size: 14px;
        }
    }
}