.myTable{
    width: 100%;
    border-collapse: collapse;
    color: #4C4C4C;
    

    th{
        padding: 10px;
        background-color: #dce9f9;
    }

    td{
        padding:  8px 10px;
    }

    th,
    td {
        border: 2px solid #ddd;

        &:nth-child(n + 2){
            text-align: center;
        }
    }
}
