.productGroupCardWrapper{
    height: 100%;
    margin-bottom: 100px;
    transition: all 0.25s ease-in-out;
    box-sizing: border-box;

    padding-top: 6px;
    padding-bottom: 0px;
    &:hover{
        padding-top: 0px;
        padding-bottom: 6px;
        transition: all 0.25s ease-in-out;
    }

    .productGroupCard{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        background-color: #f7f7f7;   
        transition: all 0.25s ease-in-out;
    
        >.image{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #DFF0F0;
            padding: 10px;
    
            >img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    
        >.title{
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 40px;
    
            >span{
                width: 88%;
                margin-top: 20px;
                text-align: center;
                font-size: 16px;
            }
    
        }
    
        >.link{
            position: absolute;
            bottom: 24px;
            display: flex;
            height: 46px;
            justify-content: center;
            align-items: center;
            width: 100%;   
        }
    }
}