.product{
    width: 100%;
    padding-bottom: 40px;

    .content{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        .productCard{
            width: 900px;
        }
    
        .rightBar{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 20px;
        }

        .loader{
            width: 100%;
            height: 400px;
        }

        .groupModels{
            margin-top: 20px;
        }
    }
}

@media (max-width: 950px) {
    .product{
        .content{
            flex-direction: column;
            .productCard{
                width: 100%;
            }
            .rightBar{
                width: 100%;
                margin-top: 40px;
            }
        }
    }    

}