.latestDevelopments{
    h2{
        
        font-size: 18px;
        margin: 0;
        height: 50px;
    }

    .hrImg{
        margin: 12px 0;
    }

    .latestDevelopment{
        margin-top: 6px;
    }
}