.contactCard{
    display: flex;
    flex-direction: column;
    width: 260px; 

    .icon{
        display: flex;
        margin-top: 12px;
        line-height: 28px;
        font-size: 14px;

        .imgDiv{
            display: flex;
            align-items: center;
            height: 28px;

            >img{
                width: 20px;
                height: 20px;
                margin-right: 8px;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 650px) {
    .contactCard{
        width: 220px; 

        .icon{
            display: flex;
            margin-top: 8px;
            line-height: 24px;
            font-size: 13px;
        }
    }
}


@media (max-width: 500px) {
    .contactCard{
        width: 100%; 

        .icon{
            display: flex;
            margin-top: 8px;
            line-height: 24px;
            font-size: 13px;
        }
    }
}