.Bottom{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 80px;
    min-height: 440px;
    width: 100%;
    background-color: #242424;
    overflow: hidden;
    color: #AAAAAA;

    .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;

        h3{
            color: #FFFFFF;    
            margin: 0;
            font-size: 16px;
        }
    }   

    .hr{
        margin: 20px 0 0 0;
        height: 0;
        border: none;
        width: 100%;
        border-top: 1px solid #AAAAAA;
    }
        
    .hrImg{
        width: 50px;
        margin: 16px 0 12px 0;
    }

}

@media (max-width: 650px) {
    .Bottom{
        .content{
            line-height: 24px;
            h3{
                font-size: 14px;
            }
        }
    
        .hrImg{
            width: 40px;
            margin: 12px 0 6px 0;
        }
    }
}


@media (max-width: 500px) {
    .Bottom{
        padding: 60px 0;
        .content{
            justify-content: start;
        }
    }
}