.partnersList{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;

    .content{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 40px auto;
        overflow: auto;

        // background-color: #242424;
        
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0;

            li{
                position: relative;
                height: 100px;
                width: 100px;
                margin: 0 60px;
                list-style: none;
            }
        }

    }
}

@media (max-width: 650px) {
    .partnersList{
        padding-bottom: 20px;
        .content{
            margin: 0px auto;
        }
    }
}