.buttonBox{
    display: flex;
    position: relative;
}

.myButton {
    position: relative;
    margin: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    padding: 14px 28px;
    background-color: rgba(39, 153, 237, 1);
    color: white;
    border: 0;
    border-radius: 3px;
    outline: 2px solid rgba(39, 153, 237, 1);
    transition: all 0.25s ease-in;

    &:hover {
        background-color: rgba(39, 153, 237, 0);
        color: rgba(39, 153, 237, 1);
        transition: all 0.15s ease-out;
    }
}

@media (max-width:650px) {
    .myButton {
        min-height: 40px;
        padding: 10px 24px;
        font-size: 12px;
    }
}