.caption{

    .title{
        height: 20px;
    }

    .hr{
        height: 16px;
        width: 200px;
        margin: 16px 0;
    }

    .info{
        height: 60px;
    }

    .link{
        height: 44px;
    }
}