.caption{
    width: 100%;

    .title{
        height: 20px;
    }

    .hr{
        height: 16px;
        width: 200px;
        margin: 16px 0;
    }

    .info{
        height: 60px;
    }

    .link{
        height: 44px;
    }
}

@media (max-width: 650px) {
    .hr{
        display: none;  // для pp2 !!!!!
    }
}