.About {
    display: flex;
    flex-direction: column;
    width: 300px;

    >img{
        width: 120px;
        opacity: 0.8;
    }

    >p{
        margin-top: 24px;
    }
}



@media (max-width: 900px) {
    .About {
        width: 100%;
        >img{
            width: 110px;
        }
    }
}