.about {
    width: 100%;
    margin: 40px 0;

    .content{
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .aboutText{
            width: 840px;
        }
    
        .rightBar{
            width: 300px;
        }
    }
}



@media (max-width: 950px) {
    .about{
        .content{
            flex-direction: column;
            .aboutText{
                width: 100%;
            }
            .rightBar{
                width: 100%;
            }
        }
    }    

}