.productGroup{
    padding-bottom: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .content{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .productPreview{
            width: 100%;
        }
    
        .rightBar{
            min-width: 300px;
        }
    }
}

@media (max-width: 950px) {
    .productGroup{
        .content{
            flex-direction: column;
            .productPreview{
                width: 100%;
            }
            .rightBar{
                width: 100%;
                margin-top: 40px;
            }
        }
    }    

}