.separatorHome{
    position: relative;
    height: 200px;
    width: 100%;
    background-image: url('../../lib/assets/scheme.png');
    background-attachment: fixed;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}


@media (max-width: 650px) {
    .separatorHome{
        height: 120px;
    }
}