.nav{

    ul{
        margin-top: 12px;
        padding: 0;

        li{
            margin: 0;
            padding: 0;
            list-style: none;
            a{
                text-decoration: none;
                color: #AAAAAA;
            }
        }
        
    }
    
    .hrImg{
        width: 50px;
        margin: 16px 0 12px 0;
    }
}