.productCatalog{
    width: 100%;

    .content{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 40px 0;

        .productCatalog{
            width: 900px;
        }
        .rightBar{
            width: 300px;
        }
    }
}


@media (max-width: 950px) {
    .productCatalog{
        .content{
            flex-direction: column;
            .productCatalog{
                width: 100%;
            }
            .rightBar{
                width: 100%;
                margin-top: 20px;
            }
        }
    }    

}